<div class="p-2 main-wrapper">
    <div class="playing-card p-1">
        <div class=" h-100 d-flex justify-content-center">
            <h2 class="my-auto">
                @Convert.ToChar(UnicodeValue)
            </h2>
        </div>
    </div>
</div>