<div class="col-md-2 text-center">
    <div class="playing-card p-1 mx-auto ">
        <div class=" h-100 d-flex justify-content-center">
            <h2 class="my-auto">
                4
            </h2>
        </div>
    </div>
</div>