<div class="rz-p-2 main-wrapper" @onclick="@OnClick">
	<div class="playing-card rz-p-1">
		<div class=" rz-h-100 rz-display-flex rz-justify-content-center">
			<h2 class="rz-my-auto">
				@UnicodeValue
			</h2>
		</div>
	</div>
</div>