@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        <strong>Hello, @context.User.Identity.Name!</strong>
        <form method="post" action="api/account/logout">
            <AntiForgeryTokenInput />
            <button class="btn btn-link" type="submit">Sign out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="api/account/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>