@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
	<Authorized>
		<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="12px" class="rz-mr-6">
			<RadzenLabel>Hello, @context.User.Identity.Name!</RadzenLabel>
			<form method="post" action="api/account/logout">
				<AntiForgeryTokenInput />
				<RadzenButton ButtonType=@ButtonType.Submit Text="Sign out" Size="ButtonSize.Small"/>
			</form>
		</RadzenStack>
	</Authorized>
	<NotAuthorized>
		<RadzenLink Path="api/account/login" Text="Login" class="rz-mr-6" />
	</NotAuthorized>
</AuthorizeView>