<div class="rz-p-2 main-wrapper">
	<div class="@Styles" @onclick=@RevealCard @onanimationend="e => RemoveAnimation()">
		<div class="rz-display-flex rz-justify-content-center rz-h-100">
			<h1 class="rz-my-auto">
				@if (IsVoteRevealed)
				{
					@(Vote)
				} else
				{
					<RadzenLabel>❓</RadzenLabel>
				}
			</h1>
		</div>
	</div>
	<RadzenText TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Center" Text="@(PlayerName ?? "N/A")"/>
	@*<RadzenButton Text="Vote" Click=@SetVoted />
	<RadzenButton Text="Reset" Click=@Reset />*@
</div>