<div class="col-md-2 text-center">
    <div class="player p-1">
        <div class="h-100 d-flex justify-content-center">
            <h1 class="my-auto">?</h1>
        </div>
    </div>
    <h3>Username</h3>
</div>