<div class="p-2 main-wrapper">
    <div class="@Styles" @onclick=@RevealCard @onanimationend="e => RemoveAnimation()">
        <div class="d-flex justify-content-center h-100">
            @if (IsVoteRevealed)
            {
                <h1 class="my-auto">
                    @(Vote)
                </h1>
            }
        </div>
    </div>
    <h5 class="text-center username">@(PlayerName ?? "N/A")</h5>
    @*<RadzenButton Text="Vote" Click=@SetVoted />
    <RadzenButton Text="Reset" Click=@Reset />*@
</div>