<div class="col-md-2 text-center">
    <div class="@Styles" @onclick=@RevealCard @onanimationend="e => RemoveAnimation()">
        <div class=" h-100 d-flex justify-content-center">
            @if (IsVoteRevealed)
            {
                <h1 class="my-auto">
                    @(Vote)
                </h1>
            }
        </div>
    </div>
    <h3>Username</h3>
    <RadzenButton Text="Vote" Click=@SetVoted />
    <RadzenButton Text="Reset" Click=@Reset />

</div>