<div class="text-center p-2">
    <div class="@Styles" @onclick=@RevealCard @onanimationend="e => RemoveAnimation()">
        <div class="d-flex justify-content-center">
            @if (IsVoteRevealed)
            {
                <h1 class="my-auto">
                    @(Vote)
                </h1>
            }
        </div>
    </div>
    <h3>@(PlayerName ?? "N/A")</h3>
    <RadzenButton Text="Vote" Click=@SetVoted />
    <RadzenButton Text="Reset" Click=@Reset />
</div>