@using Blazored.FluentValidation
@using PlanningPoker.SharedKernel.Models.Tables

<RadzenCard>
    <p class="lead text-center">Join an existing poker table or create a new one:</p>
    <div class="row my-2">
        <div class="col-lg-5 col-md-12 d-flex justify-content-center">
            <RadzenButton class="w-100" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Text="Create table" Click="OnTableCreationSubmit" />
        </div>
        <div class="col-lg-5 col-md-12 mt-3 mt-lg-0 offset-lg-2 d-flex justify-content-center">
            <RadzenButton class="w-100" Icon="casino" ButtonStyle="ButtonStyle.Light" Text="Join a table" Click="@(() => ShowTableIdentifierInput = !ShowTableIdentifierInput)" />
        </div>
    </div>
    @if (ShowTableIdentifierInput)
    {
        <RadzenTemplateForm class="my-3" TItem=@JoinExistingTableRequest Data=@JoinTableParameters Submit=@OnValidSubmitAsync InvalidSubmit=@OnInvalidSubmit>
            <FluentValidationValidator DisableAssemblyScanning=@true />

            <div class="row">
                <div class="col-lg-9 col-md-12 d-flex justify-content-center">
                    <RadzenTextBox Name="RoomIdInput" @bind-Value=@JoinTableParameters.TableCode Placeholder="Table code..." Class="w-100" />

                </div>
                <div class="col-lg-3 col-md-12 mt-3 mt-lg-0 d-flex justify-content-center">
                    <RadzenButton class="w-100" ButtonStyle="ButtonStyle.Primary" Text="Enter" ButtonType="ButtonType.Submit" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="rz-message rz-messages-error">
                        <ValidationMessage For="@(() => JoinTableParameters.TableCode)" />
                    </div>
                </div>
            </div>
        </RadzenTemplateForm>
    }
</RadzenCard>