@attribute [Route(Routes.INDEX)]

@using static Constants

<div class="container h-100 d-flex align-items-center">
    <div class="col-lg-8 offset-lg-2">
        <TableSelector OnTableCreationCallback=@OnTableCreationSubmit TableIdChanged=@JoinExistingTable />
    </div>
</div>
