@attribute [Microsoft.AspNetCore.Components.RouteAttribute(Routes.CREATE_TABLE)]
@using Blazored.FluentValidation
@using PlanningPoker.Client.Records
@using PlanningPoker.SharedKernel.Models.Binding
@using PlanningPoker.SharedKernel.Models.Decks
@using static Constants
@using static SharedKernel.Constants.Colors

<PageTitle>Create a new table</PageTitle>
<SpinLoader IsLoading="TableCreationState.Value.Submitting">
	<LoadingTemplate>
		<div class="rz-w-100 rz-h-100 rz-display-flex rz-my-auto">
			<Grid Center=@true Color=@PRIMARY />
		</div>
	</LoadingTemplate>
	<ContentTemplate>
		<RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" class="rz-h-100 rz-w-100">
			<RadzenColumn SizeLG="4" Size="6">
				<RadzenCard>
					<RadzenTemplateForm TItem="TableBindingModel" Data=@Table Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
						<FluentValidationValidator DisableAssemblyScanning=@true />

						<RadzenFieldset Text="Create a new table">
							<RadzenRow>
								<RadzenColumn SizeLG="3" Size="12">
									<RadzenLabel Text="Table Name" />
									<small>(3-10 characters)</small>
								</RadzenColumn>
								<RadzenColumn SizeLG="9" Size="12">
									<RadzenTextBox Name="TableName" Placeholder="Name..." class="rz-w-100" @bind-Value=@Table.Name />
									<div class="rz-message rz-messages-error">
										<ValidationMessage For="@(() => Table.Name)" />
									</div>
								</RadzenColumn>
							</RadzenRow>
							<RadzenRow>
								<RadzenColumn SizeLG="3" Size="12">
									<RadzenLabel Text="Card set" />
									<small>(3-10 characters)</small>
								</RadzenColumn>
								<RadzenColumn SizeLG="9" Size="12">
									<RadzenDropDown class="rz-w-100"
													Style="cursor:pointer"
													Placeholder="Deck type..."
													@bind-Value=@Table.DeckType
													Data=@DeckTypeEntries
													ValueProperty=@nameof(DropDownEntry<DeckType>.Value)
													TextProperty=@nameof(DropDownEntry<DeckType>.DisplayName)>
									</RadzenDropDown>
									<div class="rz-message rz-messages-error">
										<ValidationMessage For="@(() => Table.DeckType)" />
									</div>
								</RadzenColumn>
							</RadzenRow>
							<RadzenButton ButtonType="ButtonType.Submit" Text="Submit" class="rz-mt-1"></RadzenButton>
						</RadzenFieldset>
					</RadzenTemplateForm>
				</RadzenCard>
			</RadzenColumn>
		</RadzenRow>
	</ContentTemplate>
</SpinLoader>