@attribute [Microsoft.AspNetCore.Components.RouteAttribute(Routes.TABLE)]
@using static SharedKernel.Constants.Colors;
@using static Constants

<div class="h-100">
    <SpinLoader IsLoading="TableState.Value.IsLoading || TableState.Value.Table is null">
        <LoadingTemplate>
            <div class="w-100 h-100 d-flex align-items-center">
                <Grid Center=@true Color=@PRIMARY />
            </div>
        </LoadingTemplate>
        <ContentTemplate>
            <div class="container h-100">
                <RadzenCard class="h-100">
                    <div class="table-information">
                        <div class="d-flex justify-content-between align-items-center">
                            <h1 class="table-name">
                                @TableState.Value.Table.Name
                            </h1>
                            <RadzenButton Click=@Leave
                                          Text="Leave"
                                          Icon="logout"
                                          ButtonStyle="ButtonStyle.Danger"
                                          Disabled=@(this.TableState.Value.IsLoading) />
                        </div>
                    </div>
                    <hr />
                    <div class="player-list">
                        <div class="d-flex">
                            @foreach (var player in TableState.Value.Table.Players)
                            {
                                <Player PlayerId=@player.Id PlayerName=@player.UserName></Player>
                            }
                        </div>
                    </div>
                    <div class="row">
                        @foreach(var card in TableState.Value.Table.Deck.Cards.OrderBy(c => c.Value))
                        {
                            <Card UnicodeValue=@card.UnicodeValue></Card>
                        }
                    </div>
                </RadzenCard>
            </div>
        </ContentTemplate>
    </SpinLoader>
</div>