@page "/table/{id:guid}"
@using static SharedKernel.Constants.Colors;

<div class="h-100">
    <SpinLoader IsLoading="TableState.Value.IsLoading">
        <LoadingTemplate>
            <div class="w-100 h-100 d-flex align-items-center">
                <Grid Center=@true Color=@PRIMARY/>
            </div>
        </LoadingTemplate>
        <ContentTemplate>
            <p>
                @TableState.Value.Table.Name
            </p>
            <div class="form-group">
                <label>
                    User:
                    <input @bind="userInput" />
                </label>
            </div>
            <div class="form-group">
                <label>
                    Message:
                    <input @bind="messageInput" size="50" />
                </label>
            </div>
            <button @onclick="Vote" disabled="@(!this.PokerClient.IsConnected)">Send</button>
        </ContentTemplate>
    </SpinLoader>
</div>