@attribute [Route(Routes.TABLE)]
@using static SharedKernel.Constants.Colors;
@using static Constants

<SpinLoader IsLoading="TableState.Value.IsLoading || TableState.Value.Table is null">
    <LoadingTemplate>
        <div class="rz-w-100 rz-h-100 rz-display-flex rz-align-items-center">
            <Grid Center=@true Color=@PRIMARY />
        </div>
    </LoadingTemplate>
    <ContentTemplate>
            @* <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center"> *@
            <RadzenCard>
                <div class="table-information">
                    <div class="rz-display-flex rz-justify-content-space-between rz-align-items-center">
                        <h1 class="table-name">
                            @TableState.Value.Table.Name
                        </h1>
                        <div>
                            <RadzenButton Click=@StartVotingRound Text="Deal Votes" Icon="swipe_up"
                                ButtonStyle="ButtonStyle.Success" Disabled=@(TableState.Value.IsLoading) />
                            <RadzenButton Click=@Leave Text="Leave" Icon="logout" ButtonStyle="ButtonStyle.Danger"
                                Disabled=@(TableState.Value.IsLoading) />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="player-list">
                    <div class="rz-display-flex">
                        @foreach (var player in TableState.Value.Table.Players)
                        {
                            <Player PlayerId=@player.Id PlayerName=@player.UserName></Player>
                        }
                    </div>
                </div>
                <RoundList TableId=@Id></RoundList>
            </RadzenCard>
        @* </RadzenStack> *@ 
		<h3>@VoteValue</h3>
    </ContentTemplate>
</SpinLoader>
