h1.table-name {
    margin-bottom: unset;
}

div.main-control {
    height: 200px;
    width: 500px;
    border: 3px solid var(--info);
    border-radius: 30px;
}

div.table-information {
    height: 10%;
}

div.player-list {
    height: 35%;
}

hr {
    margin: 0.5rem 0;
}