<Form Model=""
      LabelColSpan="8"
      WrapperColSpan="16">
    <Validator>
        <CustomValidator/>
    </Validator>
    <ChildContent>
        <FormItem Label="CustomValidator">
            <AntDesign.InputNumber @bind-Value="@context.Number"/>
        </FormItem>
    </ChildContent>
</Form>