@page "/create"
@using PlanningPoker.Client.Models

<div class="container h-100 d-flex align-items-center">
    <div class="col-lg-8 offset-lg-2">
        <RadzenCard>
            <RadzenTemplateForm TItem="TableMetadata" Data=@null>
                <RadzenFieldset Text="Create a new table">
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <RadzenLabel Text="Table Name" />
                            <small>(3-10 characters)</small>
                        </div>
                        <div class="col">
                            <RadzenTextBox style="display: block" Name="TableName" Class="w-100" />
                            <RadzenLengthValidator Component="TableName" Min="3" Text="placeholder" class="validator"/>
                            <RadzenLengthValidator Component="TableName" Max="10" Text="placeholder" class="validator" />
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <RadzenLabel Text="Card set" />
                            <small>(3-10 characters)</small>
                        </div>
                        <div class="col">
                            <RadzenDropDown AllowClear="true" TValue="string" Class="w-100"></RadzenDropDown>
                        </div>
                    </div>
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
                </RadzenFieldset>
            </RadzenTemplateForm>
        </RadzenCard>
    </div>
</div>