@page "/create"
@using Blazored.FluentValidation
@using PlanningPoker.SharedKernel.Models.Tables

<div class="container h-100 d-flex align-items-center">
    <div class="col-lg-8 offset-lg-2">
        <RadzenCard>
            <RadzenTemplateForm TItem="TableMetadata" Data=@Table>
                <FluentValidationValidator DisableAssemblyScanning=@true />

                <RadzenFieldset Text="Create a new table">
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <RadzenLabel Text="Table Name" />
                            <small>(3-10 characters)</small>
                        </div>
                        <div class="col">
                            <RadzenTextBox Name="TableName" class="w-100" @bind-Value=@Table.Name />
                            <div class="rz-message rz-messages-error">
                                <ValidationMessage For="@(() => Table.Name)"/>
                            </div>

                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <RadzenLabel Text="Card set" />
                            <small>(3-10 characters)</small>
                        </div>
                        <div class="col">
                            <RadzenDropDown 
                                Class="w-100" 
                                AllowClear="true"
                                @bind-Value=@Table.Code
                                Data=@TestingValues ValueProperty=@nameof(DropdownEntry.B)
                                TextProperty=@nameof(DropdownEntry.A)>
                            </RadzenDropDown>
                            <div class="rz-message rz-messages-error">
                                <ValidationMessage For="@(() => Table.Code)"/>
                            </div>
                        </div>
                    </div>
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
                </RadzenFieldset>
            </RadzenTemplateForm>
        </RadzenCard>
    </div>
</div>