@page "/"

<div class="h-100 d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-xl-4">
        <RadzenCard>
            <p class="lead text-center">Join an existing poker table or create a new one:</p>
            <div class="row my-2">
                <div class="col-lg-6 d-flex justify-content-center">
                    <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Text="Create new table" />
                </div>
                <div class="col-lg-6 d-flex justify-content-center">
                    <RadzenButton Icon="casino" ButtonStyle="ButtonStyle.Light" Text="Join a table" />
                </div>
            </div>
        </RadzenCard>
    </div>
</div>
