@page "/"
<div>
    <h2>Create a new poker table room or join an existing one</h2>
    <div>
        <Button 
            Type="@ButtonType.Primary" 
            @onclick="@(e => this.NavigationManager.NavigateTo("/create"))">
                Create
        </Button>
        <Button>Join</Button>
    </div>
</div> 