<div class="row">
    <div class="col p-2">
        <RadzenTemplateForm TItem="string" Data="Username" Submit="OnSubmit">
            <div class="row">
                <div class="col-md-4">
                    <RadzenLabel Text="Username" />
                    <small>(3-10 characters)</small>
                </div>
                <div class="col">
                    <RadzenTextBox Name="Username" Class="w-100" @bind-Value="Username" />
                    <RadzenRequiredValidator Component="Username" Text="Username is required."></RadzenRequiredValidator>
                    <RadzenLengthValidator Component="Username" Min="3" Max="10" Text="Username is must be between 3 and 10 symbols." />
                </div>
            </div>
            <div class="row w-100 d-flex justify-content-center align-items-center">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
            </div>
        </RadzenTemplateForm>
    </div>
</div>